.editor-custom-style .bn-editor h1 {
  font-size: 20px;
}

.editor-custom-style .bn-editor h2 {
  font-size: 18px;
}

.editor-custom-style .bn-editor h3 {
  font-size: 15px;
}

.editor-custom-style .bn-editor {
  font-size: 15px;
}
